// Maintenance Template / 2014 ---------------------------------------

	// Authored by: Josh Beveridge @ Norex
	// 2014/10

// Header ------------------------------------------------------------

	header {
		background: $maroon;
		box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
		height: 180px;
		padding: 50px 15px;
		position: relative;
		width: 100%;
		z-index: 55;

		>a {
			position: absolute;
				top: 103px;
				right: 5%;
		}

		.row {
			@include vercenter;
			text-align: left;

			.site {

				h4 {
					text-transform: uppercase;
				}

			}

			.month {

				h4 {
					font-size: 1em;
				}

			}

		}

	}

// Media Queries -----------------------------------------------------

	// Tablet (Portrait) --------------------------------------------

		@media #{$medium-up} {

			header {
				padding: 50px 50px;
			}

		}

	// Tablet (Landscape) -------------------------------------------

		// @media screen and (min-width:950px) {}

	// Fallback -----------------------------------------------------

		// @media #{$large-up} {}
