.maintenance .google .seo .small-4 {
  width: 33% !important; }
.maintenance .broken-links .small-6 {
  width: 50% !important; }
.maintenance .w3c .medium-4 {
  width: 33% !important; }
.maintenance .w3c .medium-8 {
  width: 66% !important; }
.maintenance .wordpress .medium-6 {
  width: 50% !important; }

